.nav {
  width: 100%;
  background-color: var(--bg-secondary);
  position: sticky;
  top: 0px;
  border-bottom: 1px solid var(--bg-surface);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  z-index: 2;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  margin-left: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 30%;
}

.close {
  color: var(--text-secondary);
}

.close:hover {
  cursor: pointer;
}

.search-block {
  margin-left: 10px;
  padding: 8px;
  background-color: var(--bg-surface);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-primary);
  width: 100%;
  margin-left: 10px;
}

.search::placeholder {
  color: var(--text-secondary);
}
.search:focus {
  outline: none;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  transition: all ease-in-out 0.25s;
}

.icon:hover {
  background-color: var(--bg-surface);
  -webkit-box-shadow: var(--shadow-sm);
  box-shadow: var(--shadow-sm);
}

.user-block {
  margin-left: 10px;
}

.user-block:hover {
  cursor: pointer;
}

.username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.role {
  font-size: 10px;
  color: var(--text-secondary);
}

.dropdown {
  position: absolute;
  background-color: var(--bg-surface);
  padding: 10px;
  border-radius: 10px;
  top: 70px;
  transition: all ease-in-out 0.25s;
}

.open-drop {
  opacity: 1;
  display: block;
}

.close-drop {
  opacity: 0;
  display: none;
}

.dropdown-btn {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-secondary);
  transition: all ease-in-out 0.25s;
  border: none;
  outline: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  font-weight: bolder;
}

.dropdown-btn:hover {
  background-color: var(--bg-primary);
  -webkit-box-shadow: var(--shadow-sm);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.logout {
  background-color: red;
}

.btn-icon {
  margin-right: 5px;
  color: var(--text-primary);
}
