.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 100%;
  min-height: 100vh;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.logo {
  width: 200px;
}

.logo-block {
  width: 95%;
}

.info-block {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heading {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  line-height: 45px;
  color: var(--text-secondary);
}

.purple {
  color: var(--color-primary);
}

.text {
  margin-top: 15px;
  color: var(--text-secondary);
}

.img {
  width: 100%;
  margin-top: 15px;
}

.form {
  background-color: var(--bg-secondary);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  width: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-sm);
}

.greeting {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.forgot {
  color: var(--color-error);
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot:hover {
  cursor: pointer;
}

.submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-warning);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  width: 95%;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}
.submit-btn:hover {
  cursor: pointer;
  box-shadow: var(--shadow-sm);
}
.submit-btn:disabled {
  cursor: not-allowed;
}
