.sidebar-container {
  height: 100vh;
  position: sticky;
  left: 0px;
  top: 0px;
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--bg-surface);
  padding-left: 10px;
  padding-right: 10px;
  z-index: 5;
  transition: all ease-in-out 0.5s;
  overflow-x: hidden;
  overflow-y: scroll;
}

.open {
  width: 20vw;
}

.close {
  width: 5vw;
}

.sidebar-container::-webkit-scrollbar {
  display: none;
}

.logo {
  margin: 0px;
}

.open-logo {
  height: 70px;
}

.close-logo {
  height: 50px;
}

.logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px;
  height: 45px;
  border-bottom: 1px solid var(--bg-surface);
  padding: 10px;
  position: sticky;
  top: 0px;
  left: 0px;
  transition: all ease-in-out 0.5s;
}

.sidebar-btn {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: start;
  background-color: var(--bg-surface);
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--text-primary);
  font-weight: 700;
  margin-top: 10px;
  transition: all ease-in-out 0.25s;
}

.sidebar-btn:hover {
  cursor: pointer;
}
.selected {
  background: var(--gradient-primary);
  font-weight: bolder;
}

.btn-icon {
  color: var(--text-primary);
  margin-right: 8px;
}

.info-span {
  color: var(--text-secondary);
  display: block;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.none {
  opacity: 0;
}
