@if (isLoading() === true) {
  <app-loader [size]="'large'"></app-loader>
} @else if (error() !== null && orders().length === 0) {
} @else {
  <div class="container">
    <div class="content">
      <span class="heading">Orders</span>
      <div class="cards">
        <app-card
          style="width: 100%"
          [icon]="'shopping_cart'"
          [iconBackgroundColor]="'#451d63'"
          [iconColor]="'#9000ff'"
          [text]="'Total Orders'"
          [number]="`${orders().length}`"
        ></app-card>
        <app-card
          style="width: 100%"
          [icon]="'access_time'"
          [iconBackgroundColor]="'#706b1c'"
          [iconColor]="'yellow'"
          [text]="'Pending Orders'"
          [number]="`${orders().filter((data) => data.status === 'ordered' || data.status === 'processing').length}`"
        ></app-card>
        <app-card
          style="width: 100%"
          [icon]="'fire_truck'"
          [iconBackgroundColor]="'#1c3470'"
          [iconColor]="'blue'"
          [text]="'Shipped Orders'"
          [number]="`${orders().filter((data) => data.status === 'shipped').length}`"
        ></app-card>
        <app-card
          style="width: 100%"
          [icon]="'check'"
          [iconBackgroundColor]="'#00400a'"
          [iconColor]="'green'"
          [text]="'Delivered Orders'"
          [number]="`${orders().filter((data) => data.status === 'delivered' || data.status === 'returned' || data.status === 'return intiated').length}`"
        ></app-card>
        <app-card
          style="width: 100%"
          [icon]="'cancel'"
          [iconBackgroundColor]="'#802f2f'"
          [iconColor]="'red'"
          [text]="'cancelled Orders'"
          [number]="`${orders().filter((data) => data.status === 'canceled').length}`"
        ></app-card>
      </div>
      <div class="filter">
        <div class="status">
          <select
            class="status-filter"
            [formControl]="select"
            [disabled]="isLoading() || isUserLoading()"
          >
            @for (stat of status; track stat) {
              <option class="status-option" [value]="stat">
                {{ stat }}
              </option>
            }
          </select>
          <mat-icon [fontIcon]="'keyboard_arrow_down'" class="select-icon"></mat-icon>
        </div>
        <div class="date-block">
          <div class="date">
            <input
              [formControl]="dateStart"
              class="date-picker"
              [style]="theme() === 'light' ? 'color-scheme: light' : 'color-scheme: dark'"
              type="date"
            />-
            <input
              [formControl]="dateEnd"
              class="date-picker"
              [style]="theme() === 'light' ? 'color-scheme: light' : 'color-scheme: dark'"
              type="date"
            />
          </div>
        </div>
      </div>
      <div class="orders-block"></div>
    </div>
  </div>
}
